<h3>
  Current Time: <span id="crnt-time">{{currentTime}}</span>
</h3>
<div class="row">
	<div *ngFor="let bn of busesnow" class="card flex-row flex-wrap col-sm-2 m-2">
		<div class="card-header border-0">
			<img alt="Bus" class="busicon" src="assets/images/{{ bn.icon }}">
		</div>
		<div class="card-block px-2">
			<h4 class="card-title">{{ bn.bus }}</h4>
			<p class="card-text">{{ bn.timing }}</p>
		</div>
		<div class="w-100"></div>
		<div class="card-footer w-100 text-muted">
			{{ bn.direction }}
		</div>
	</div>
</div>
